.container {
    text-align: center;
}

.hr {
    background-color: aqua;
}

.main {
    text-align: center;
}

body {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}