.body {
    margin: auto;
    width: 60%;
    border: 5px;
    padding: 10px;
    text-align: center;
}

.main,
.about {
    line-height: 2em;
    margin-top: 50px;
}

.footer {
    line-height: 5em;
    margin: 50px;
}

.navbar-nav .nav-item {
    padding: .25rem 0;
    font-weight: 700;
    color: rgb(255, 247, 247);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgb(124, 124, 124);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.btn {
    display: flexbox;
    background: #48ABC5;
    border-radius: 6px;
    border-color: #48ABC5;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #000000;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}